In [1]:
numbers = [1,2,3,4,5]

In [2]:
numbers.sort()

In [3]:
numbers

[1, 2, 3, 4, 5]

In [4]:
numbers.sort(reverse=True)

In [5]:
numbers

[5, 4, 3, 2, 1]

In [13]:
x = range(100)

In [16]:
def myFunc(e):
  return e['year']

cars = [
  {'car': 'Ford', 'year': 2005},
  {'car': 'Mitsubishi', 'year': 2000},
  {'car': 'BMW', 'year': 2019},
  {'car': 'VW', 'year': 2011}
]

cars.sort(key=myFunc)

In [17]:
cars

[{'car': 'Mitsubishi', 'year': 2000},
 {'car': 'Ford', 'year': 2005},
 {'car': 'VW', 'year': 2011},
 {'car': 'BMW', 'year': 2019}]

In [32]:
def return_len(data):
    return(data['car'])

cars2 = [
  {'car': 'Ford', 'year': 2005},
  {'car': 'Mitsubishi', 'year': 2000},
  {'car': 'BMW', 'year': 2019},
  {'car': 'VW', 'year': 2011}
]

In [33]:
cars2.sort(reverse=True,key=return_len)

In [34]:
cars2

[{'car': 'VW', 'year': 2011},
 {'car': 'Mitsubishi', 'year': 2000},
 {'car': 'Ford', 'year': 2005},
 {'car': 'BMW', 'year': 2019}]

names = [

In [51]:
names = {"Abe", "John", "Ralph","Stupendous","Abe"}

In [44]:
names.sort(reverse=False, key=len)

In [45]:
names

['Abe', 'John', 'Ralph']

In [50]:
set(names)

{'Abe', 'John', 'Ralph', 'Stupendous'}

In [52]:
names

{'Abe', 'John', 'Ralph', 'Stupendous'}

In [88]:
x = {'name': 'blue', 'name2': "green"}

In [89]:
print(x["name"])

blue

In [90]:
print(len(x))

2

In [91]:
print(x.values())

dict_values(['blue', 'green'])

In [92]:
print(x.items())

dict_items([('name', 'blue'), ('name2', 'green')])

In [93]:
for y in x:
    print(y)

name
name2

In [96]:
for y,z in x.items():
    print(y,z)

name blue
name2 green

In [106]:
sorted("This is a test string from Andrew".split(), key=str.lower)

['a', 'Andrew', 'from', 'is', 'string', 'test', 'This']

In [115]:
names = ["JoeADFAS","BilASDFADSl","Tom"]

In [119]:
def to_upper(obj):
    return obj.upper()

In [120]:
to_upper("hello")

'HELLO'

In [121]:
# Practice nested function

In [135]:
def get_event_date(event):
  return event.date

def current_users(events):
  events.sort(key=get_event_date)
  machines = {}
  for event in events:
    if event.machine not in machines:
      machines[event.machine] = set()
    if event.type == "login":
      machines[event.machine].add(event.user)
    elif event.type == "logout":
        if "login" in machines[event.machine]:
            machines[event.machine].remove(event.user)
  return machines

def generate_report(machines):
  for machine, users in machines.items():
    if len(users) > 0:
      user_list = ", ".join(users)
      print("{}: {}".format(machine, user_list))

In [136]:
# create Event class
class Event:
  def __init__(self, event_date, event_type, machine_name, user):
    self.date = event_date
    self.type = event_type
    self.machine = machine_name
    self.user = user

In [137]:
events = [
    Event('2020-01-21 12:45:56', 'login', 'myworkstation.local', 'jordan'),
    Event('2020-01-22 15:53:42', 'logout', 'webserver.local', 'jordan'),
    Event('2020-01-21 18:53:21', 'login', 'webserver.local', 'lane'),
    Event('2020-01-22 10:25:34', 'logout', 'myworkstation.local', 'jordan'),
    Event('2020-01-21 08:20:01', 'login', 'webserver.local', 'jordan'),
    Event('2020-01-23 11:24:35', 'logout', 'mailserver.local', 'chris'),
]

In [139]:
# works correctly
users = current_users(events)
print(users)

{'webserver.local': {'jordan', 'lane'}, 'myworkstation.local': {'jordan'}, 'mailserver.local': set()}

In [126]:
# practice
test_set = set()

In [127]:
test_set.add("Hello")

In [129]:
test_set.add("one more")

In [130]:
test_set

{'Hello', 'one more'}

In [134]:
if "hello" in test_set:
    print("ok")
else:
    print("not in there")

not in there