In [1]:
# indexing

In [5]:
mystring = "hello"
print(mystring[0])
print(mystring[1:])
print(mystring[:2])

h
ello
he

In [10]:
def format_str(a,b):
    print("okay {} and {}".format(a,b))

In [11]:
format_str("blue","book")

okay blue and book

In [12]:
dict1 = {"name":["a","b","c"], "book": "blue book"}

In [17]:
for x,y in dict1.items():
    print("The letter is {} and item is {}".format(x,y))

The letter is name and item is ['a', 'b', 'c']
The letter is book and item is blue book

In [24]:
def try_dict(in_here):
    out_dict = {}
    for x in in_here:
        print(x)
        out_dict[x] =x
        
    return out_dict

In [25]:
sample = [1,2,3,4,5]

In [26]:
try_dict(sample)

1
2
3
4
5

{1: 1, 2: 2, 3: 3, 4: 4, 5: 5}

In [27]:
# tuple vs list

In [28]:
t = (1,2,3)
l = [4,5,6]

In [29]:
type(t)

tuple

In [30]:
type(l)

list

In [31]:
t[0]

1

In [32]:
for x in t:
    print(x)

1
2
3

In [33]:
t[0] = "hello"

TypeError: 'tuple' object does not support item assignment

In [34]:
l[0] = "helo"

In [35]:
l

['helo', 5, 6]

In [36]:
t.count(1)

1

In [37]:
t.count(5)

0

In [38]:
t

(1, 2, 3)

In [39]:
t.count(2)

1

In [40]:
t=(1,2,2,2,3)

In [41]:
t

(1, 2, 2, 2, 3)

In [42]:
t.count(2)

3

In [43]:
t.index(2)

1

In [44]:
#set
my_set = set()

In [45]:
type(my_set)

set

In [46]:
my_set.add(1)

In [47]:
my_set

{1}

In [48]:
my_set.add(1)

In [49]:
my_set

{1}