In [1]:
numbers = [1,2,3,4,5]

In [2]:
numbers.sort()

In [3]:
numbers

[1, 2, 3, 4, 5]

In [4]:
numbers.sort(reverse=True)

In [5]:
numbers

[5, 4, 3, 2, 1]

In [13]:
x = range(100)

In [16]:
def myFunc(e):
  return e['year']

cars = [
  {'car': 'Ford', 'year': 2005},
  {'car': 'Mitsubishi', 'year': 2000},
  {'car': 'BMW', 'year': 2019},
  {'car': 'VW', 'year': 2011}
]

cars.sort(key=myFunc)

In [17]:
cars

[{'car': 'Mitsubishi', 'year': 2000},
 {'car': 'Ford', 'year': 2005},
 {'car': 'VW', 'year': 2011},
 {'car': 'BMW', 'year': 2019}]

In [32]:
def return_len(data):
    return(data['car'])

cars2 = [
  {'car': 'Ford', 'year': 2005},
  {'car': 'Mitsubishi', 'year': 2000},
  {'car': 'BMW', 'year': 2019},
  {'car': 'VW', 'year': 2011}
]

In [33]:
cars2.sort(reverse=True,key=return_len)

In [34]:
cars2

[{'car': 'VW', 'year': 2011},
 {'car': 'Mitsubishi', 'year': 2000},
 {'car': 'Ford', 'year': 2005},
 {'car': 'BMW', 'year': 2019}]

names = [

In [51]:
names = {"Abe", "John", "Ralph","Stupendous","Abe"}

In [44]:
names.sort(reverse=False, key=len)

In [45]:
names

['Abe', 'John', 'Ralph']

In [50]:
set(names)

{'Abe', 'John', 'Ralph', 'Stupendous'}

In [52]:
names

{'Abe', 'John', 'Ralph', 'Stupendous'}

In [88]:
x = {'name': 'blue', 'name2': "green"}

In [89]:
print(x["name"])

blue

In [90]:
print(len(x))

2

In [91]:
print(x.values())

dict_values(['blue', 'green'])

In [92]:
print(x.items())

dict_items([('name', 'blue'), ('name2', 'green')])

In [93]:
for y in x:
    print(y)

name
name2

In [96]:
for y,z in x.items():
    print(y,z)

name blue
name2 green

In [106]:
sorted("This is a test string from Andrew".split(), key=str.lower)

['a', 'Andrew', 'from', 'is', 'string', 'test', 'This']

In [115]:
names = ["JoeADFAS","BilASDFADSl","Tom"]